[Desktop Entry]
Encoding=UTF-8
Name=Medallion
Comment=Medallion P2P Cryptocurrency
Comment[fr]=Medallion, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Medallion, eşten eşe kriptografik sanal para birimi
Exec=medallion-qt %u
Terminal=false
Type=Application
Icon=medallion128
MimeType=x-scheme-handler/medallion;
Categories=Office;Finance;
